@import "tailwindcss";

body{
    font-family: Manrope;
}
button{
  cursor: pointer;
}
.label-class {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-input {
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.35rem;
  
  border: 1px solid #00A430;
  background-color: #f9fafb;
  color: #9ea2ae;
  outline: none;
}



